@use "../../scss/abstracts/" as *;

.tabs-projects {
  margin-top: 30px;
  width: 40%;
  @include centerDiv();
  @include flex();

  & > ul {
    @include flex(center, space-between);
    width: 100%;
    font-size: 13px;
    transition: 0.3s all ease;

    & > li {
      padding: 10px 5px;
      position: relative;
      cursor: pointer;
      transition: 0.2s all ease;

      &::before {
        transition: 0.2s all ease;
        position: absolute;
        height: 3px;
        content: "";
        width: 0%;
        background-color: $dangerColor;
        z-index: 99;
        bottom: -1px;
        left: 0;
      }

      &.active {
        color: $dangerColor;
      }

      &.active::before {
        width: 100%;
      }
    }
  }
}

.line-project {
  width: 40%;
  height: 2px;
  background-color: rgb(238, 238, 238);
  @include centerDiv();
}
