@use "../../scss/abstracts/" as *;

.team-card {
  width: 90%;
  margin-bottom: 50px;
  @include centerDiv();
  
  & > img {
    width: 100%;
  }
  
  .member-name{
     font-size: $fontSizeNormal;
  }
  
  .member-job{
    font-size: 15px;
  }
}
