$mainBg: #fff;
$mainColor: #363636;
$grayColor: #707070;
$dangerColor: #f62433;

$black: #000;
$white: #fff;
$fontFamily: "Poppins", sans-serif;

$fontSizeNormal: 18px;
$fontSizeMedium: 25px;
$fontSizeLarge: 48px;

$spacing: 30px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 450px;
$tablet-width: 720px;
$minComputer-width: 1000px;
