@use "../../../scss/abstracts/" as *;

//  projectsection
.project-section {
  .photo-work {
    margin-top: 60px;
    @include flex(center, space-between);
    flex-flow: row wrap;

    .parent-work-pic {
      height: 500px;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: calc(25% - 8px);
      overflow: hidden;
      margin-bottom: 10px;
    }

    .pic-work {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.3s all ease;

      .red-overly {
        cursor: pointer;
        transition: 0.3s all ease;
        background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.226),
          $dangerColor
        );
        opacity: 0;
        width: 100%;
        height: 100%;
        @include flex(center, center);
        color: $white;

        .caption-work {
          transition: 0.3s all ease;
          opacity: 0;
          transform: translate(0, 40px);
          text-align: center;
          cursor: pointer;
          & > h2 {
            font-size: 20px;
          }
          & > p {
            font-size: 12px;
          }
        }
      }
    }

    .pic1-work {
      background-image: url("../../../assets/work-photo/joel.jpeg");
    }
    .pic2-work {
      background-image: url("../../../assets/work-photo/joel2.jpeg");
    }
    .pic3-work {
      background-image: url("../../../assets/work-photo/joel3.jpeg");
    }
    .pic4-work {
      background-image: url("../../../assets/work-photo/joel4.jpeg");
    }
    .pic5-work {
      background-image: url("../../../assets/work-photo/joel5.jpeg");
    }

    .pic-work:hover {
      transform: scale(1.2);

      .red-overly {
        opacity: 1;

        .caption-work {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }

  .center {
    @include centerDiv();
    display: block;
  }
}

@include minComputer {
  .project-section {
    .photo-work {
      flex-flow: row wrap;
      @include flex(start, flex-start);

      .parent-work-pic {
        margin-bottom: 2px;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(33% + 2px);
      }
    }
  }
}

@include tablet {
  .project-section {
    .photo-work {
      @include flex(center, space-between);

      .parent-work-pic {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(50% - 2px);
        margin-bottom: 3px;
        height: 400px;
      }
    }
  }
}

@include mobile {
  .project-section {
    .photo-work {
      .parent-work-pic {
        flex-basis: calc(100%);
        height: 600px;
      }
    }
  }
}
